/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.kreon {
  font-family: "Kreon", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gift-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.gift-placeholder {
  background-size: cover;
  background-position: center;
  min-height: 30dvh;
}

.delete-gift-button {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.gift:hover .delete-gift-button {
  display: unset;
}